<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Loan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	
	<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		    <div class="container">
		        <a class="navbar-brand" href="/">Loan Department</a>
		        <div class="collapse navbar-collapse" id="navbarResponsive">
		            <ul class="navbar-nav ml-auto">
		                <li class="nav-item active">
		                    <a class="nav-link" href="/">Home
		                        <span class="sr-only">(current)</span>
		                    </a>
		                </li>

		            </ul>
		        </div>
		    </div>
		</nav>
	
	
    <div class="container my-5" style="padding-top: 30px;">
    
        <h3> Add Loan</h3>
        
        
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/createLoan}" th:object="${Loan}" method="post">

                    	<div class="row">
                        	
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Name</label> 
                                <input type="text" th:field="*{name}" class="form-control" 
                                       id="name" placeholder="Name"
                                       onkeydown="nextBox('amount')"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="amount" class="col-form-label">Amount</label> 
                                <input type="number" th:field="*{amount}" class="form-control"
                                       step="any" lang="en" id="amount" placeholder="Amount"
                                       required="true" onkeydown="next('interest','amount')"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="interest" class="col-form-label">Interest</label> 
                                <input type="number" th:field="*{interest}" class="form-control"
                                       step="any" lang="en" id="interest" placeholder="Interest"
                                       required="true" onkeydown="next('years','interest')"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="years" class="col-form-label">Years</label> 
                                <input type="number" th:field="*{years}" class="form-control"
                                       id="years" placeholder="Years"
                                       required="true" onkeydown="next('installment','years')"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="installment" class="col-form-label">Installments</label>
                                <input type="text" th:field="*{installment}" class="form-control"
                                       step="any" lang="en" id="installment" placeholder="Monthly Installment" />
                            </div>


                            <div class="col-md-6">
                                <input type="submit" disabled style = "display: none">
                                <a href="/" class="btn btn-primary" onclick="submit">
                                    <i class="fas fa-arrow-down"> Save </i></a>

                                <a th:href="@{/deleteProspect/{id}(id=${Loan.id})}" class="btn btn-primary">
                                    <i class="fas fa-eraser"> Clear </i></a>

                                <a href="/deleteProspect" class="btn btn-primary">
                                    <i class="fas fa-times"> Cancel </i></a>

                                <input type="submit" style="visibility:hidden" id="calculate" formaction="/calcLoan">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                    <script>
                        function dis(val) {
                             document.getElementById("installment").value = val
                        }

                        function nextBox(val) {
                             if (event.key === "Enter") {
                             document.getElementById(val).focus();
                             }
                        }

                        function next(val,org) {
                            let ek = event.key;

                            if (ek == "Enter") {
                                document.getElementById(val).focus();
                                if (val == "installment") {
                                        document.getElementById("calculate").click();
                                }
                            }
                            else if (ek == "Tab" && org == "years") {
                                document.getElementById(val).focus();
                                document.getElementById("calculate").click();
                            }
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>